.border{
    /* border: 2px solid red; */
    margin: 5px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.invert{
    filter:invert(1);
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #212121;
    /* background-color: red; */
}
.rounded{
    border-radius: 7px;
}
.margin1{
    margin: 5px;
}
.padding1{
    padding: 10px;
}

/* Webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 0px; /* Height of the horizontal scrollbar set to 0 to hide it */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #2c2c2c; /* Adds some space around the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Slightly lighter color on hover */
}

/* Firefox */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #555 #2c2c2c; /* Thumb and track colors */
}

/* Hover effect for Firefox */
*::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Slightly lighter color on hover */
}

/* Disable horizontal scrolling */
body {
    overflow-x: hidden;
}